DATABASES = {
    'default': {
        'NAME': "{{ db_database }}",
        'USER': "{{ db_username }}",
        'PASSWORD': "{{ db_password }}",
        'PORT': "{{ db_port }}",
        'HOST': "{{ db_host }}",
        'ATOMIC_REQUESTS': True,
{% if database == 'postgres' %}
        'ENGINE': 'awx.main.db.profiled_pg',
{% elif database == 'sqlserver' %}
        "ENGINE": "awx.main.db.profiled_mssql",
        "OPTIONS": {"driver": "ODBC Driver 17 for SQL Server",},
{% endif %}
    }
}
